*
!.gitignore
!README.md

!.zshrc
!.zshenv
!.p10k.zsh
!.aicommit2
!.aider.conf.yml

!scripts/
!scripts/**

!.config/
!.config/wezterm/
!.config/wezterm/**/*
!.config/nvim/
!.config/nvim/**/*
!.config/lazygit/
!.config/lazygit/**/*
!.config/vscode/
!.config/vscode/**/*
/**/.DS_Store
